@charset "utf-8";

* {margin: 0; padding: 0; box-sizing: border-box;}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
}

section.two {
    background-color: #292929;
}


.block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: whitesmoke;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border-radius: 50%;
    background-color: rgb(7, 204, 204);
}

.box::before {
    position: absolute;
    content: '';
    width: calc(100% + 28px);
    height: calc(100% + 28px);
    border-radius: 50%;
    border: 1px solid rgb(7, 204, 204);
}

.box .number span {color: #e9e9e9;}
.box .number .num {font-size: 35px; font-weight: bold;}
.box .number .sub {font-size: 20px;}
.box .title {font-size: 15px; color: #e9e9e9;}


.dots {
    display: block; 
    position: absolute; 
    z-index: 2;
    width: 100%; 
    height: 100%;
    border-radius: 50%;
    transition: transform 2s, opacitiy 2s ease;
}

.dots::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: rgb(47, 24, 179);
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: none;
    transform: rotate(-90deg);
}

.circle {
    stroke: url(#gradientStyle);
    stroke-width: 4px;
    stroke-dasharray: 503;
    stroke-dashoffset: 503;
    transition: stroke-dashoffset 2s;

    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}